body {
  font-family: Palatino;
}

#reading-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

#reading-list > li {
  border: 5px solid #000000;
  padding: 10px;
  text-align: center;
  border-radius: 10%;
  background-color: blanchedalmond;
}

#form-wrapper {
  display: flex;
}

.form-item {
  padding: 15px;
}

.button {
  padding: 10px;
  border: 5px solid black;
  background-color: yellow;
  border-radius: 15%;
  margin: 15px;
}

#buttons {
  display:flex;
}

#delete-button {
  right: 0px;
  position: relative;
  transition: ease-in 0.1s;
}

#delete-button:hover {
  right: 200px;
}

